@charset "UTF-8";
/* CSS Document */
/* * Teal color (used for headings and backgrounds): `#4aaaa5`
* Regular font color (used for paragraphs and all text besides the headings): `#777777`
* Main header background color: `#ffffff`
* Main header border color: `#cccccc`
* Footer background color: `#666666`
* Main content background color: `#ffffff`
* Main content border color: `#dddddd` */




body{
   background-color: #85B1B5;
}

header{
	background-color:#ffffff;
	height: 50px;
}
a{
	
}
li{
color: yellowgreen;
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.navlinks{
	list-style:none;
	
}

.navlinks li{
	display: inline-block;
	padding: 20px 20px;
}

header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: auto;	
}

.logo{}


hr{
	border-color:#85B1B5;

	
}

.headshot{
    width: 250px;

}
.bodycontent{
	background-color: #FFFFFF;
	padding: 50px 50px;
	align-content: center;
	width: 700px;
	margin: 20px auto;
	
}
	
footer{
	background-color: white;
	display:flex;
	justify-content: space-between;
	align-content: center;
	height: auto;
}

.navlinks2{
	list-style:none;
	
}

.navlinks2 li{
	display: inline-flex;
	padding: 20px 20px;
	
}