@charset "UTF-8";
/* CSS Document */
/* * Teal color (used for headings and backgrounds): `#4aaaa5`
* Regular font color (used for paragraphs and all text besides the headings): `#777777`
* Main header background color: `#ffffff`
* Main header border color: `#cccccc`
* Footer background color: `#666666`
* Main content background color: `#ffffff`
* Main content border color: `#dddddd` */

body{
   background-color: #85B1B5;
}

header{
	position: relative;
	background-color:#ffffff;
	height: 90px;
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items: center;
}

li{
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;

}

a{
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: dimgray;
	text-decoration: none;
	padding-left: 0px;
	padding-right: 40px;
	border-right:groove;
	text-align: center;
}

.navlinks{
	list-style:none;
	
}

.navlinks li{
	display: inline-block;
	padding: 20px 20px;
	text-align: center;
}

.logo{
	position: absolute;
	right: 110px;
	
}
.topbox{
	position:absolute;
	background-color:#86B1B5;
	height: 100px;
	width:170px;
	text-align: center;
	left: 118px;
	bottom: -5px;
}



hr{
	border-color:#85B1B5;
}

.bodycontent{
	background-color: #FFFFFF;
	padding: 50px 50px;
	align-content: center;
	width: 960px;
	margin: 20px auto;
	
}
.wrap {
	display: flex;
}	

.headshot{
    width: 250px;
	display:flex;
	flex-direction: row;
}

	
p{
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	padding: 20px;
	display:flex;
}
	
footer{
/*	position:fixed;*/
	background-color:#666666;
	height: auto;
	display:inline-flex;
	justify-content:center;
	width:100%;
}

.a2{
	color: white;
	border: none
}
.navlinks2{
	list-style:none;
	padding-top: 10px;
	align-items: center;
}

.navlinks2 li{
	display: inline-flex;
	padding: 20px 20px;
	justify-content: center;
}